.steps-of-order {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.steps-of-order-inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.step-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  transition: transform 0.3s ease-in-out;
}

.step-item-number {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
  background: #d39d19;
  color: #fff;
  min-width: 80px;
  height: 80px;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
}

.step-item-text-container {
    width: 1100px;
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 1s ease, transform 1s ease;
}

.slide-left-steps.step-item-text-container {
  width: 1100px;
  transform: translateX(-50px);
}

.step-item-text-container.visible {
    width: 1100px;
  opacity: 1;
  transform: translateX(0);
}

.step-item-text {
  border-right: 3px solid #d29d19;
  width: 100%;
  border-radius: 30px;
  padding: 30px 0px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
  background: #fff5f2;
  position: relative;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.step-item:hover > .step-item-text-container > .step-item-text {
  z-index: 100;
  transform: scale(1.02);
  box-shadow: 20px 20px 20px rgba(30, 58, 95, 0.15);
}

.step-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #d29d19;
  text-align: start;
}

.step-item-undertitle {
  width: 1050px;
  font-weight: 400;
  font-size: 18px;
  line-height: 162%;
  color: #233446;
}

.steps-of-partnership {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 36px;
  color: #233446;
}

#step2,
#step4 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 20px;
}

/* Только меняем бордер — padding остаётся прежним */
#step2 > .step-item-text-container>.step-item-text,
#step4 > .step-item-text-container> .step-item-text {
  border-right: none;
  border-left: 3px solid #d29d19;
} 
/* === АНИМАЦИЯ ДЛЯ НОМЕРА — В ОБРАТНУЮ СТОРОНУ === */
.step-item-number-container {
  height: 100%;
  opacity: 0;
  transform: translateX(-50px); /* по умолчанию — слева */
  transition: opacity 1s ease, transform 1s ease;
}

.slide-right-steps.step-item-number-container {
    height: 100%;
  transform: translateX(50px); /* если нужно — справа */
}

.step-item-number-container.visible {
    height: 100%;
  opacity: 1;
  transform: translateX(0);
}

/* Чтобы номер не мешал layout */
.step-item-number-container,
.step-item-text-container {
  display: flex;
  flex-shrink: 0; /* предотвращает сжатие */
}